div {   
    background-color: rosybrown;
    width: 250px;
    height: 300px;
    text-align: center;
    margin-left: 45%;
    margin-top: 10%;
    border-radius: 1em;
    box-shadow: 5px 5px 25px rgb(25, 0, 0, 25)
}

label {
    font-size: 25px;
}

input {
    width: 45px;
    font-size: 25px;
}

#TextBoxOperacion {

    font-size: 25px;
    width: 150px;
}
table {
    margin-top: 10px;
    margin-left: 30px;
}

#TextBoxOperacion {     
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
    font-size: 25px;
    border-radius: 10px;
}    

